# ===== SERVEUR =====
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# ===== BASE DE DONNÉES =====
# Remplacez par votre URI MongoDB Atlas ou locale
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/portfolio_djibril?retryWrites=true&w=majority

# ===== AUTHENTIFICATION =====
JWT_SECRET=remplacez_par_une_chaine_secrete_longue_et_aleatoire
JWT_EXPIRES_IN=7d

# ===== COMPTE ADMIN (utilisé par npm run seed) =====
ADMIN_NAME=Djibril Pierre Clavair Pamousso
ADMIN_EMAIL=pampierre20@gmail.com
ADMIN_PASSWORD=changez_ce_mot_de_passe

# ===== EMAIL (Nodemailer via SMTP - ex: Gmail avec mot de passe d'application) =====
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pampierre20@gmail.com
SMTP_PASS=votre_mot_de_passe_application
CONTACT_RECEIVER=pampierre20@gmail.com
